<body>
<div class="container">
    <div>
        <br>
        <input type="text" class="col-sm-4" placeholder="Поиск" [(ngModel)]="request"/>
        <button class="btn btn-default btn-sm" (click)="refresh(request, '?key=')">Поиск</button>
    </div>
    <br>
    <button class="btn btn-default btn-sm" (click)="refresh()">Получить список сортов кофе</button>
    <br>
    <div [hidden]="!(coffeeKinds.length > 0)">
        <div class="text-lg-left">
            <br>
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Наименование</th>
                        <th>Описание</th>
                        <th>Цена</th>
                        <th>Количество</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let kind of coffeeKinds">
                        <td>{{kind.id}}</td>
                        <td>{{kind.name}}</td>
                        <td>{{kind.description}}</td>
                        <td>{{kind.price}}</td>
                        <td><input type="number" required [(ngModel)]="kind.count" [ngClass]="{'error': !checkInput(kind)}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br>
    <div [hidden]="!userName">
        <p>Заказ будет выполнен для пользователя: {{userName}}</p>
    </div>
    <div [hidden]="!address || !userName">
        <p>по адресу {{address}}</p>
    </div>
    <div [hidden]="!address || !userName">
        <button class="btn btn-default btn-sm" (click)="createOrder()">Сделать заказ</button>
        <br>
    </div>
    <button class="btn btn-default btn-sm" (click)="openModal()">Введите свое имя и адрес</button>
    <div bsModal #modalWindow="bs-modal" class="modal fade" (onHidden)="closeModal()">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <div [ngSwitch]="modalType">
                        <ng-template [ngSwitchCase]='mAddress'>
                            <h4 class="modal-title pull-left">Форма ввода данных клиента</h4>
                        </ng-template>
                        <ng-template [ngSwitchCase]='mError'>
                            <h4 class="modal-title pull-left">Ошибка</h4>
                        </ng-template>
                        <ng-template [ngSwitchCase]='mOrder'>
                            <h4 class="modal-title pull-left">Заказ принят</h4>
                        </ng-template>
                    </div>
                    <button class="btn btn-default btn-sm" type="button" class="close pull-right"
                            (click)="closeModal()"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="text-lg-left">
                        <div [ngSwitch]="modalType">
                            <ng-template [ngSwitchCase]='mAddress'>
                                <p>Введите свое имя</p>
                                <input type="text" class="col-sm-9" [(ngModel)]="userName"/>
                                <div [hidden]="checkString(userName)">
                                    <td>Содержимое поля слишком короткое</td>
                                </div>
                                <p>Введите свой адрес</p>
                                <input type="text" class="col-sm-9" [(ngModel)]="address"/>
                                <div [hidden]="checkString(address)">
                                    <td>Адрес слишком короткий</td>
                                </div>
                            </ng-template>
                            <ng-template [ngSwitchCase]='mError'>
                                <p>Произошла ошибка. Проверьте правильность введенных данных и повторите
                                    попытку</p>
                            </ng-template>
                            <ng-template [ngSwitchCase]='mOrder'>
                                <p>Стоимость вашего заказа равна {{order.price}}</p>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
